.main_intro {
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  border: 4px solid #FEBB56;
  margin-bottom: 20px;
}

.main_intro .guide_card {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #999;
}

.main_intro .guide_card.text-xs,
.main_intro .guide_card p,
.main_intro .guide_card .link {
  font-size: 14px;
  word-break: keep-all;
}

.main_intro .guide_card .r {
  color: #ff0000;
}

.main_intro p.b b {
  color: #FEBB56;
}

.main_intro a {
  color: steelblue;
}
body.add_mode .today_meongsik_wrapper ~ .main_intro,
body.edit_mode .today_meongsik_wrapper ~ .main_intro,
body.result_mode .today_meongsik_wrapper ~ .main_intro {
  display: none;
}

body.add_mode .nav,
body.edit_mode .nav {
  display: none;
}
