/* style.result.css */

.container {
  display: flex; 
  min-height: 100dvh;
  min-height: calc(var(--vh, 1vh) * 100); 
  padding: 70px 20px;
}

.info_wrapper {
  position: relative;
  max-width: 700px; 
  width: 100%; 
  margin: auto; 
  background-color: #011627; 
  padding: 16px; 
  border-radius: 20px;
}

.input_wrap {
  display: none;
}

.wongook_lucky, .wongook_myowoon {
  display: flex;
  gap: 10px;
}

.myowoon {
  width: 50%;
}

.woonkuk {
  width: 57%;
}

.no_wolwoon .woonkuk {
  width: 67%;
}

.woon_wrap {
  width: 50%;
}

.w100 .woonkuk {
  width: 70%;
  margin: auto;
}

.lucky_wrap {
  width: 43%;
}

.no_wolwoon .lucky_wrap {
  width: 33%;
}

.input_group {
  margin-bottom: 20px;
}

.input_group.group_ect {
  display: none;
}

.input_group .flex_input {
  display: flex;
  justify-content: space-between;
}

.input_group .flex_input input[type='tel'] {
  width: 60%;
}

.input_group .flex_input select {
  width: 38%;
}

.input_group .flex_input2 input[type='text'],
.input_group .flex_input2 select {
  width: 80%;
}

.input_group .flex_input2 button {
  width: 19%;
  padding: 0;
  font-size: 20px;
}

.input_group:last-child {
  margin-bottom: 0;
}

.input_group > label {
  font-size: 20px; 
  display: block; 
  margin-bottom: 5px; 
  color: #fff;
}

.input_group>label span {
  font-size:14px; 
  color: #EED36C;
}

.input_group input[type='text'],
.input_group input[type='tel'],
.input_group input[type='time'],
.input_group select,
.input_group .map {
  display: block; 
  width: 100%; 
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  background-color: #fff; 
  border: none; 
  outline: none; 
  font-size: 20px;
  border-radius: 5px;
  color: #353535;
}

.input_group .map {
  text-align: left;
  cursor: pointer;
}

.input_group select {
  line-height: normal !important;
}

.radio_box {
  display: flex; 
  gap: 10px;
}

.radio_box span { 
  flex: 1; 
}

.radio_box span input[type='radio'] + label {
  display: flex; 
  justify-content: center; 
  align-items: center;
  width: 100%; 
  padding: 10px; 
  background-color: #fff; 
  text-align: center; 
  font-size: 20px; 
  border-radius: 5px;
  color: #353535; 
  cursor: pointer;
}

.radio_box span input[type='radio']:checked + label {
  background-color: #EED36C; 
}

.radio_box input[type='radio'] {
  display: none;
}

.btn_box {
  display: flex; 
  justify-content: center; 
  gap: 10px;
}

.btn_box.mt100 button {
  padding:20px 100px; 
}

.btn_box button {
  position: relative;
  padding: 5px 60px; 
  background-color: #EED36C; 
  border: none; 
  outline: none; 
  font-size: 18px; 
  cursor: pointer;
  color: #353535;
  z-index: 7;
}

.btn_box.flex_3 button {
  flex: 1;
  padding: 10px; 
}

.result_wrapper {
  display: none;
}

.info_box {
  color: #fff; 
  border-bottom: 1px solid #fff; 
  padding-bottom: 10px; 
}

.info_box .name_gender {
  font-size:20px;
  margin-bottom: 8px;
}

.info_box .birthday_info {
  font-size:18px;
}

.woon_container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.grid_box {
  position: relative; 
  z-index: 10; 
  display: grid; 
  gap: 10px;
  grid-template-columns: repeat(4,1fr); 
  align-items: flex-start;
}

.grid_box.reverse {
  direction: rtl;
}

.jijanggan.reverse,
.reverse .jijanggan {
  direction: ltr;
}

.grid_box_2 {
  margin-top: 10px;
}

.grid_box_10 li,
.grid_box_11 li,
.grid_box_12 li {
  padding: 0 !important;
}

.grid_box-2 {
  grid-template-columns: repeat(2,1fr); 
}

.lucky_box {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  direction: rtl;
  align-items: flex-start;
}

.lucky_wrap .lucky_box {
  position: relative;
  gap: 10px;
  z-index: 7;
  padding: 10px 10px 10px 0;
}

.no_wolwoon .lucky_wrap .lucky_box .lucky.wolwoon {
  display: none;
}

.lucky_box .lucky .ganji {
  display: flex; 
  width: 100%;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
}

.lucky_box .lucky .ganji:last-child {
  margin-bottom: 0vw;
}

.grid_box > li {
  position: relative;
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
}

.ganji {
  position: relative;
  z-index: 5;
}

.grid_box_1 {
  padding: 10px;
}

.grid_box_1.today {
  margin: auto;
}

.grid_box_1 > li,
.lucky_box .lucky .ganji {
  padding: 0 !important;
}

.grid_box_1 li .hanja_con,
.ganji .hanja_con {
  position: relative;
  width: 100%;
  min-height: 84px;
  justify-content: center;
  background-color: #fff;
  text-align: center;
  font-size: 52px; 
  border-radius: 4px;
  
}

.grid_box_1 li:nth-of-type(5) .hanja_con,
.grid_box_1 li:nth-of-type(6) .hanja_con,
.grid_box_1 li:nth-of-type(7) .hanja_con,
.grid_box_1 li:nth-of-type(8) .hanja_con {
  margin-bottom: 10px;
}

.ganji .hanja_con {
  margin-bottom: 10px;
}

.no_wolwoon .ganji .hanja_con {
  width: 100px;
}

.grid_box_1 li .hanja_con b,
.ganji .hanja_con b {
  display: block;
  line-height: 120%; 
}

.grid_box_1 li .hanja_con b.eum,
.ganji .hanja_con b.eum {
  font-weight: 100;
}

.w50 .grid_box_1 li .hanja_con,
.w50 .ganji .hanja_con  {
  font-size: 44px;
}

.hanja_con {
  display: flex;
  flex-direction: column;
}

.grid_box_1 li p,
.ganji p {
  width: 100%;
  background-color: #fff;
  padding: 5px 10px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 16px;
  border-radius: 4px;
}

.w50 .grid_box_1 li p,
.w50 .ganji p {
  font-size: 16px;
}

.grid_box_1 li p.eum_yang,
.ganji p.eum_yang {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin: auto;
  padding: 0;
  font-size: 12px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 10;
  color: #353535;
  transform: translate(-30%, -30%);
}

.grid_box_1 li .ten_sin,
.ganji .ten_sin,
.grid_box_1 li .woon_seong,
.ganji .woon_seong,
.grid_box_1 li .sin_sal,
.ganji .sin_sal {
  font-size: 16px;
  color: #fff;
}

.grid_box_1 li .sin_sal,
.ganji .sin_sal {
  margin-bottom: 0;
}

.grid_box_1 li p.hanguel,
.ganji p.hanguel {
  background-color: transparent;
  color: #fff;
  padding: 0;
  margin-bottom:5px;
}

.grid_box_1 li p.label,
.ganji p.label {
  background-color: transparent;
  color: #EED36C;
  padding: 0;
}

.today_meongsik_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  
}

.today_meongsik_wrapper .today_saju {
  position: relative;
  flex-shrink: 0;
  width: min(375px, 100%);
  margin: auto;
}

.today_meongsik_wrapper .woonkuk {
  width: 100%;
}

.jijanggan {
  /* display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  gap: 5px; */
  margin: 0 0 5px;
  padding: 8px;
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
}

.jijanggan.flex {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  gap: 5px;
}

.jijanggan li {
  font-size: 14px;
  margin-bottom: 5px;
  text-align: center;
}

.jijanggan.flex li {
  margin: 0;
}

.jijanggan li.jeonggi {
  background-color: #d5d5d5;
  border-radius: 2.4px;
  font-weight: bold;
}

.jijanggan li:last-child {
  margin-bottom: 0;
}

.grid_box_2 > li {
  background-color: #fff;
  padding: 10px;
}

.buga_title {
  position: relative; 
  margin: 8px 0 5px; 
  text-align: center; 
  font-size: 20px; 
  font-weight: 700; 
  color: #fff;
}
.buga_title::before {
  content: ''; 
  position: absolute; 
  left: 0; 
  top: 50%; 
  width: 100%; 
  height: 1px; 
  background: #fff;
}

.buga_title span {
  position: relative; 
  z-index: 5; 
  background: #011627; 
  padding: 4px 10px;
  line-height: 90%;
}

.scroll_x {
  overflow: auto;
}

.grid_box_10,
.grid_box_11,
.grid_box_12 {
  display: grid;
}

.grid_box_10 {
  grid-template-columns: repeat(10, 1fr);
  gap: 5px; 
}

.grid_box_11 {
  grid-template-columns: repeat(11, 1fr);
  gap: 5px;
}

.grid_box_12 {
  grid-template-columns: repeat(12, 1fr); 
  gap: 5px;
}

.ganji_w {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  line-height: 90%;
}

.ganji_w.eum {
  font-weight: 100;
}

.grid_box_12 .ganji_w {
  width: 100%;
  text-align: center;
  font-size: 20px;
}

.fortune_section .w {
  width: 100%;
  /* background-color: #fff;
  margin-bottom: 5px; */
  color: #fff;
  text-align: center;
  font-size: 14px;
  border-radius: 2px;
}

.grid_box_1 li .ten_sin,
.ganji .ten_sin,
.fortune_section .w[class*="dt10sin"],
.fortune_section .w[class*="st10sin"],
.fortune_section .w[class*="0sin"] {
  margin-bottom: 4px;
}

.fortune_section.grid_box_12 .w {
  font-size: 12px;
}

.fortune_section li {
  border: 2px solid transparent;
}

.fortune_section li.active {
  border: 2px solid #EED36C;
}

.fortune_section .w.dyear,
.fortune_section .w.dmonth,
.fortune_section .dage {
  background-color: transparent;
  color: #EED36C;
}

body.ganzhi_white .grid_box_1 li .hanja_con,
body.ganzhi_white .ganji .hanja_con,
body.ganzhi_white .ganji_w,
body.ganzhi_white .fortune_section .w {
  background-color: #fff !important;
  color: #000 !important;
}

body.ganzhi_white .grid_box_1 li .hanja_con b,
body.ganzhi_white .ganji .hanja_con b,
body.ganzhi_white .grid_box_1 li p,
body.ganzhi_white .ganji p,
body.ganzhi_white .grid_box_1 li .ten_sin,
body.ganzhi_white .ganji .ten_sin,
body.ganzhi_white .grid_box_1 li .woon_seong,
body.ganzhi_white .ganji .woon_seong,
body.ganzhi_white .grid_box_1 li .sin_sal,
body.ganzhi_white .ganji .sin_sal,
body.ganzhi_white .fortune_section .w,
body.ganzhi_white .fortune_section .dage {
  color: #000 !important;
}

body.ganzhi_white .calander_table .ilwoon li.ilwoon_ganji_cheongan span,
body.ganzhi_white .calander_table .ilwoon li.ilwoon_ganji_jiji span {
  background-color: #fff !important;
  color: #000 !important;
  border: 1px solid #000;
}

body.ganzhi_white .current_ganzhi,
body.ganzhi_white .current_ganzhi b {
  color: #000 !important;
}

