/* style.modal.css */

#mapModal {
  display: none;
  position: fixed; top:0; left:0;
  width:100%; height:100%;
  background: rgba(0,0,0,0.5);
  z-index:1005;
}

#mapContainer {
  position: absolute; 
  top:6%; 
  left:5%;
  width:90%; 
  height:90%;
  background:#fff; 
  border-radius:8px;
  box-shadow:0 0 10px rgba(0,0,0,0.3);
  display:flex; 
  flex-direction:column;
}

#closeMap,
#mapCloseBtn {
  position: absolute;
  right: 0;
  top: 0;
  align-self:flex-end;
  background:#353535; color: #fff;
  border:none; 
  height: 40px;
  border-radius:4px; 
  cursor:pointer;
  padding: 0 20px;
}

#mapCloseBtn {
  padding: 0 10px;
  z-index: 1002;
  border-radius: 0;
  height: 30px;
}

.awesomplete {
  width: calc(100% - 16px);
}

#searchBox {
  height: 40px;
  font-size:16px;
  border:1px solid #ccc;
  border-radius:4px;
  width: calc(100% - 90px);
  outline: none;
  padding: 0 10px;
}

#mapModal .Rel {
  position: absolute;
  top: 2.4%;
  left: 50%;
  width: 80%;
  transform: translateX(-50%);
  z-index: 1002;
}

#suggestions {
  position: absolute;
  width: 100%;
  left: 0;
  list-style:none;
  padding:0; max-height:150px;
  overflow-y:auto; border:1px solid #ccc;
  border-radius:4px;
  background-color: #fff;
  z-index: 1001;
}

#suggestions li {
  padding:6px 8px;
  cursor:pointer;
}

#suggestions li:hover {
  background:#eee;
}

#map { 
  flex:1;
}

.leaflet-left .leaflet-control {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 1001;
}

/* 인포모달 */
#infoModal6 {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 700px;
  z-index: 1005;
  border: 2px solid #252525;
}

#infoModal6 .title {
  width: 100%;
  background-color: #252525;
  color: #fff;
  font-size: 16px;
  padding: 10px;
}

#infoModal6 .title b {
  font-size: 14px;
  color: #ccc;
}

#infoModal6 .content {
  width: 100%;
  padding: 20px;
  background-color: #fff;
  color: #252525;
}

#infoModal6 .content li {
  margin-bottom: 8px;
}

#infoModal6 .content li:last-child{
  margin-bottom: 0;
}

#infoModal6 .btn_box {
  background-color: #252525;
  padding: 10px;
}

#infoModal6 .btn_box button {
  padding: 4px 12px;
  font-size: 14px;
}

.input_me_group_set_modal,
.set_modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  width: 96%;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  z-index: 1003;
  border: 2px solid #252525;
}

.input_me_group_set_modal .close_btn,
.set_modal .close_btn {
  position: absolute;
  right: 0;
  top: -50px;
  width: 40px;
  height: 40px;
  padding: 0 !important;
  font-size: 40px;
  line-height: 100%;
}

.input_me_group_set_ul > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  background-color: #fff;
  border-bottom: 1px solid #252525;
}

.set_modal li {
  padding: 8px 0;
  background-color: #fff;
  border-bottom: 1px solid #252525;
}

.set_modal li.title {
  padding-top: 0;
  font-size: 20px;
  text-align: center;
}

.set_modal li.content > label {
  display: block;
  font-size: 18px;
  text-align: center;
}

.input_me_group_set_ul > li:last-child,
.set_modal li:last-child {
  border-bottom: 0px;
}

.input_me_group_set_ul > li button {
  padding: 8px 25px;
  font-size: 14px;
}

.set_modal .s12_ctrl_con {
  display: block;
}

.set_modal .s12_ctrl_con label {
  color: #252525;
}

.set_modal .radio_wrap input[type='radio'], 
.set_modal .radio_wrap input[type='checkbox'] {
  background-color: #fff;
  border: 2px solid #252525;
}

.set_modal .s12_ctrl_zone a {
  color: #252525;
}