  /* ======== CSS 시작 (질문 예시 + 확장) ======== */
  * {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: "Noto Sans KR", sans-serif; 
  }
  body, html {
    min-width: 320px;
  }

  body {
    background-color: #011627;
  }

  ol, ul { list-style: none; }


  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none; /* 기본 드롭다운 아이콘 제거 */
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    box-shadow: none;
    -webkit-tap-highlight-color: transparent;
    border-radius: 5px;
  }

  .mb10 {
    margin-bottom: 10px;
  }

  .container {
    display: flex; 
    min-height: 100vh; 
    padding: 20px;
  }
  .info_wrapper {
    max-width: 700px; 
    width: 100%; 
    margin: auto; 
    background-color: #011627; 
    padding: 30px; 
    border-radius: 20px;
  }

  .wongook_lucky, .wongook_myowoon {
    display: flex;
    gap: 10px;
  }

  .myowoon {
    width: 50%;
  }

  .woonkuk {
    width: 67%;
  }

  .woon_wrap {
    width: 50%;
  }

  .w100 .woonkuk {
    width: 100%;
  }

  .lucky_wrap {
    width: 33%;
  }

  .input_group {
    margin-bottom: 20px;
  }
  .input_group .flex_input {
    display: flex;
    justify-content: space-between;
  }
  .input_group .flex_input input[type='tel'] {
    width: 60%;
  }
  .input_group .flex_input select {
    width: 38%;
  }
  .input_group:last-child {
    margin-bottom: 0;
  }
  .input_group > label {
    font-size: 20px; 
    display: block; 
    margin-bottom: 5px; 
    color: #fff;
  }
  .input_group input[type='text'],
  .input_group input[type='tel'],
  .input_group input[type='time'],
  .input_group select {
    display: block; 
    width: 100%; 
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    background-color: #fff; 
    border: none; 
    outline: none; 
    font-size: 20px;
    border-radius: 5px;
    color: #353535;
  }

  .input_group select {
	  line-height: normal !important;
  }

  .radio_box {
    display: flex; 
    gap: 10px;
  }
  .radio_box span { 
    flex: 1; 
  }
  .radio_box span input[type='radio'] + label {
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 100%; 
    padding: 10px; 
    background-color: #fff; 
    text-align: center; 
    font-size: 20px; 
    border-radius: 5px;
    color: #353535; 
    cursor: pointer;
  }
  .radio_box span input[type='radio']:checked + label {
    background-color: #EED36C; 
  }
  .radio_box input[type='radio'] {
    display: none;
  }

  .btn_box {
    display: flex; 
    justify-content: center; 
    margin-top: 30px;
  }

  .btn_box.mt0 {
    margin-top: 0;
  }

  .btn_box.mt20 {
    margin-top: 20px;
  }

  .btn_box button {
    padding: 20px 100px; 
    background-color: #EED36C; 
    border: none; 
    outline: none; 
    font-size: 25px; 
    cursor: pointer;
	  color: #353535;
  }

  .result_wrapper .info_box {
    display: flex; 
    justify-content: space-between; 
    color: #fff; 
    border-bottom: 1px solid #fff; 
    padding-bottom: 10px; 
    margin-bottom: 25px; 
    font-size: 16px;
  }

  .woon_container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  .grid_box {
    position: relative; 
    z-index: 10; 
    display: grid; 
    gap: 10px;
    grid-template-columns: repeat(4,1fr); 
    align-items: flex-start;
  }

  .grid_box.reverse {
	  direction: rtl;
  }

  .grid_box_2 {
    margin-top: 10px;
  }

  .grid_box_10 li,
  .grid_box_12 li {
    padding: 0 !important;
  }

  .grid_box-2 {
    grid-template-columns: repeat(2,1fr); 
  }

  .lucky_box {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    align-items: flex-start;
  }

  .lucky_wrap .lucky_box {
    gap: 10px;
  }

  .lucky_box .lucky .ganji {
    display: flex; 
    width: 100%;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    margin-bottom: 10px;
  }

  .lucky_box .lucky .ganji:last-child {
    margin-bottom: 0vw;
  }

  .grid_box > li {
    position: relative;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
  }

  .ganji {
    position: relative;
    z-index: 5;
  }

  .grid_box_1 > li,
  .lucky_box .lucky .ganji {
    padding: 0 !important;
  }

  .grid_box_1 li .hanja_con,
  .ganji .hanja_con {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #fff;
    text-align: center;
    font-size: 60px; 
  }

  .grid_box_1 li .hanja_con b,
  .ganji .hanja_con b {
     display: block;
	 line-height: 120%; 
  }

  .w50 .grid_box_1 li .hanja_con,
  .w50 .ganji .hanja_con  {
    font-size: 44px;
  }

  .grid_box_1 li p,
  .ganji p {
    width: 100%;
    background-color: #fff;
    padding: 5px 10px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 20px;
  }

  .w50 .grid_box_1 li p,
  .w50 .ganji p {
    font-size: 16px;
  }

  .grid_box_1 li p.eum_yang,
  .ganji p.eum_yang {
  	display: block;
    width: 45px;
	margin: auto;
    padding: 2px 0;
    font-size: 12px;
    background-color: #011627;
    color: #fff;
    border-radius: 5px;
  }

  .grid_box_1 li p.ten_sin,
  .ganji p.ten_sin {
    font-size: 14px;
  }

  .jijanggan {
    display: flex; 
    justify-content: center; 
	  align-items: center;
    gap: 5px; 
    margin: 0 0 5px;
    padding: 5px;
    width: 100%;
    background-color: #fff;
  }

  .jijanggan li {
    font-size: 14px;
  }

  .grid_box_2 > li {
    background-color: #fff;
    padding: 10px;
  }

  .buga_title {
    position: relative; 
    margin: 20px 0 5px; 
    text-align: center; 
    font-size: 20px; 
    font-weight: 700; 
    color: #fff;
  }
  .buga_title::before {
    content: ''; 
    position: absolute; 
    left: 0; 
    top: 50%; 
    width: 100%; 
    height: 1px; 
    background: #fff;
  }
  .buga_title span {
    position: relative; 
    z-index: 5; 
    background: #011627; 
    padding: 10px;
  }

  .scroll_x {
    overflow: auto;
  }

  .grid_box_10,
  .grid_box_12 {
    display: grid;
  }

  .grid_box_10 {
    grid-template-columns: repeat(10, 1fr);
    gap: 5px; 
  }
  
  .grid_box_12 {
    grid-template-columns: repeat(12, 1fr); 
    gap: 5px;
  }


  .ganji_w {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 25px;
    line-height: 90%;
  }

  .grid_box_12 .ganji_w {
    width: 100%;
    text-align: center;
    font-size: 20px;
  }

  .fortune_section .w {
    padding: 5px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 5px;
    text-align: center;
    font-size: 14px;
  }

  .fortune_section.grid_box_12 .w {
    font-size: 12px;
  }

  .fortune_section li {
    border: 2px solid transparent;
  }

  .fortune_section li.active {
    border: 2px solid #EED36C;
  }

  .fortune_section .w.dyear,
  .fortune_section .w.dmonth,
  .fortune_section .dage {
    margin-bottom: 0;
  }

  .container {
    padding: 90px 0;
  }

  .container .header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90px;
    position:fixed;
    top: 0;
    left: 0;
    padding: 0 10px;
    border-bottom: 1px solid #a5a5a5;
    background-color: #011627;
    color: #EED36C;
    z-index: 98;
  }

  .header .flex_btn_2 {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .header .flex_btn_2 button  {
    padding: 10px 20px;
    color: #353535;
  }

  .aside {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 99;
    background-color: #011627;
    color: #fff;
  }

  .aside .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 20px;
    border-bottom: 1px solid #EED36C;
  }

  .aside .close_btn,
  .delete_btn {
    width: 40px;
    height: 40px;
    padding: 0 !important;
    font-size: 40px;
    line-height: 100%;
  }

  .aside .close_btn span,
  .delete_btn span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    vertical-align: top;
    margin-top: -8px;
  }

  .aside .list_ul {
    max-height: (100vh - 80px);
    padding: 20px;
    padding-top: 0;
    overflow: auto;
  }

  .aside .list_ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #EED36C;
  }

  .aside .list_ul li .btn_zone {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .ilju_calender {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
  }

  .ilju_calender .calender_title {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
  }
  
  .ilju_calender .cal_btn {
    padding: 5px 10px;
    background-color: #EED36C;
    border: none;
    cursor: pointer;
	color: #353535;
  }

  .calander_table {
    width: 100%;
  }

  .calander_table th{
    padding: 10px;
  }

  .calander_table td {
    padding: 5px;
    border: 1px solid #353525;
    font-size: 12px;
  }

  .calander_table td.active {
    border-width: 2px;
    border-color: #E40101;
  }

  .calander_table .ilwoon {
    position: relative;
  }

  .calander_table .ilwoon li {
    margin-bottom: 2px;
  }

  .calander_table .ilwoon li.ilwoonday {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14px;
    font-weight: bold;
    color: #353525;
  }

  .calander_table .ilwoon li span {
    display: inline-block;
    width: 35px;
    text-align: center;
  }

  .calander_table .ilwoon li.ilwoon_ganji_cheongan span,
  .calander_table .ilwoon li.ilwoon_ganji_jiji span {
    display: inline-block;
    width: 35px;
    padding: 2px 0;
    text-align: center;
    background-color: #e5e5e5;
    border-radius: 10px;
    font-size: 20px;
  }

  .calander_table .ilwoon li:last-child {
    margin-bottom: 0;
  }

  .black_btn {
    padding: 10px 50px;
    background-color: #EED36C;
    border: none;
    outline: none;
    cursor: pointer;
    color: #353535;
  }

  .cal_area {
    margin-top: 20px;
    text-align: center;
  }

  .cal_area input {
  	display: inline-block;
    width: 100%;
    height: 50px;
    padding: 0 10px;
  }

  .red { color: #E40101 !important; }
  .green { color: #008E00 !important; }
  .yellow { color: #E6BF28 !important; }
  .white { color: #a5a5a5 !important; }
  .black { color: #252525 !important; }

  .b_red { background-color: #E40101 !important; color: #fff; }
  .b_green { background-color: #008E00 !important; color: #fff;}
  .b_yellow { background-color: #E6BF28 !important; color: #fff;}
  .b_white { background-color: #a5a5a5 !important; color: #fff;}
  .b_black { background-color: #252525 !important; color: #fff;}

  .check_option {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .check_option li {
    display: flex;
    align-items: center;
  }
  
  .check_option li span {
    display: flex;
    align-items: center;
    margin: 0 10px;
  }

  .check_option li input[type='radio'] {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    
  }

  .check_option li input[type='radio']::before {
    display: none;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14px;
    height: 14px;
    background-color: #EED36C;
    border-radius: 50%;
  }

  .check_option li input[type='radio']:checked::before {
    display: block;
  }

  .check_option li label {
    color: #fff;
    cursor: pointer;
  }
  
  .footer {
    max-width: 700px; 
    width: 100%; 
    margin: auto;
    padding: 40px 10px;
    background-color: #011627; 
    text-align: center;
    color: #EED36C;
    font-size: 12px;
  }

  /* 모바일 대응 */
  @media screen and (max-width:991px){
    .info_wrapper {
      max-width: 100%; 
      padding:2.624vw; 
      border-radius: 0;
    }
    .input_group {
      margin-bottom:3.644vw;
    }
    .input_group>label {
      font-size:3.644vw; 
      margin-bottom:1.988vw;
    }
    .input_group input[type='text'],
    .input_group input[type='tel'],
    .input_group input[type='time'],
    .input_group select {
      height: 10.8vw;
      line-height: 10.8vw;
      font-size:3.244vw; 
      padding:0 3.242vw;
    }
    .radio_box span input[type='radio']+label {
      padding:2.44vw; 
      font-size:3.244vw;
    }
    .btn_box {
      margin-top:8.224vw;
    }

    .btn_box.mt20 {
      margin-top: 4vw;
    }

    .btn_box.mt {
      margin-top:5.224vw;
    }
    .btn_box button {
      padding:0vw 12.448vw; 
      font-size:3.628vw;
    }

    .btn_box button#calcBtn {
      height: 12vw;
    }

    .btn_box.mb40 {
      margin-bottom: 12vw;
    }

    .black_btn {
      padding: 0 10vw;
      height: 8vw;
      font-size: 3.628vw;
    }

    .detailViewBtn {
      padding: 0 2vw;
    }

    .result_wrapper .info_box {
      margin-bottom:4vw; 
      font-size:2.444vw; 
      padding-bottom:2vw;
    }
    
    .woonkuk {
      width: 65%;
    }

    .lucky_wrap {
      width: 35%;
    }
    
    .lucky_wrap .lucky_box {
      gap: 2vw;
    }

    .lucky_box .lucky .ganji {
      margin-bottom: 2vw;
    }

    .woon_container {
      gap: 2vw;
    }

    .grid_box {
      gap: 2vw;
    }

    .grid_box_10 {
      gap: 0.3vw;
    }

    .grid_box > li {
      font-size: 2.824vw;
    }

    .grid_box > li,
    .lucky_box .lucky .ganji {
      padding: 1.24vw;
    }

    .grid_box_1 li .hanja_con,
	  .ganji .hanja_con {
      font-size:8.848vw;
      padding: 2vw;
    }

    .grid_box_1 li p, 
    .ganji p,
    .grid_box_1 li p.ten_sin, 
    .ganji p.ten_sin,
    .fortune_section .w {
      font-size: 2.824vw;
    }

    .grid_box_1 li p.eum_yang, 
    .ganji p.eum_yang,
    .wongook_lucky .grid_box_1 li p.eum_yang {
      width: 9.242vw;
      padding: 0.4vw 0;
      margin-bottom: 0;
      font-size: 2.42vw;
    }


    .w50 .grid_box_1 li .hanja_con,
    .w50 .ganji .hanja_con {
      font-size:5.848vw;
	    padding: 0.8vw;
    }


    .w50 .grid_box_1 {
      gap: 1vw;
    }

    .w50 .grid_box_1 li p, .w50 .ganji p {
      font-size: 2.2vw;
    }

    .jijanggan {
      gap: .8vw;
    }

    .jijanggan li {
      font-size: 2.62vw;
    }

    .w50 .jijanggan li {
      font-size: 2vw;
    }

    
    .buga_title {
      margin: 2.4vw 0 1.2vw;
    }

    .buga_title span {
      font-size: 3.2vw;
      padding: 2vw;
    }

    .ganji_w {
      width: 100%;
      padding: 2.242vw;
      text-align: center;
      font-size: 3.248vw;
      font-weight: 700;
      background-color: #fff;
    }

    .fortune_section .w {
      padding: 1vw 0;
    }
    
    .fortune_section .w.dage {
      font-size: 2.424vw;
      margin-bottom: 0;
    }

    .container {
      padding: 16vw 0;
    }

    .container .header {
      height: 16vw;
    }

    .header .flex_btn_2 button {
      padding: 0 4vw;
    }

    .aside .head {
      padding: 4vw;
    }
  
    .aside .close_btn,
    .delete_btn {
      top: 4vw;
      right: 4vw;
      width: 8vw;
      height: 8vw;
      font-size: 8vw;
      padding: 0px;
    }
  
    .aside .close_btn span,
    .delete_btn span {
      height: 8vw;
      vertical-align: top;
      margin-top: 0;
    }
  
    .aside .list_ul {
      padding: 4vw;
      padding-top: 0;
    }
  
    .aside .list_ul li {
      padding: 3.6vw 0;
      font-size: 3.2vw;
    }

    .grid_box_12 {
      gap: .2vw;
    }

    .grid_box_12.fortune_section .w {
      font-size: 2vw;
    }

    .grid_box_12 .ganji_w {
      font-size: 2.8vw;
      padding: 2vw 1.2vw;
    }

    .ilju_calender {
      margin-top: 4vw;
      padding: 2.2vw;
    }
  
    .ilju_calender .calender_title {
      padding-bottom: 2.4vw;
      margin-bottom: 2.4vw;
      font-size: 2.4vw;
    }
    
    .ilju_calender .cal_btn {
      padding: 1.2vw 2.4vw;
      font-size: 2.4vw;
    }

    .ilju_calender .calender_title .curr_title {
      padding-top: 1.2vw;
    }

    .calander_table th{
      padding: 1.2vw;
      font-size: 2.4vw;
    }
  
    .calander_table td {
      padding: 0.8vw;
      font-size: 2vw;
    }
  
  
    .calander_table .ilwoon li {
      margin-bottom: 0.4vw;
    }
  
    .calander_table .ilwoon li.ilwoonday {
      font-size: 2vw;
    }
  
    .calander_table .ilwoon li span {
      width: 5.2vw;
    }
  
    .calander_table .ilwoon li.ilwoon_ganji_cheongan span,
    .calander_table .ilwoon li.ilwoon_ganji_jiji span {
      width: 5.2vw;
      border-radius: 1.2vw;
      font-size: 2.8vw;
    }

    .cal_area {
      margin-top: 8vw;
      text-align: center;
      }

    .cal_area input {
      width: 100%;
      height: 10.8vw;
      line-height: 10.8vw;
      color: #353535;
      background-color: #fff;
      padding: 0 2.4vw;
      font-size: 3.6vw;
    }

    .check_option li span {
      margin: 0 0.8vw;
    }
  
    .check_option li input[type='radio'] {
      width: 2.4vw;
      height: 2.4vw;
      margin-right: 1.2vw;
    }
  
    .check_option li input[type='radio']::before {
      width: 2vw;
      height: 2vw;
    }

    .check_option li label {
      font-size: 2.8vw;
    }

    .footer {
      padding: 6.2vw 1.2vw;
      font-size: 2.4vw;
    }
    
  }