  /* ======== CSS 시작 (질문 예시 + 확장) ======== */
  * {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: "Noto Sans KR", sans-serif; 
  }
  body, html {
    min-width: 320px;
  }

  body {
    background-color: #011627;
  }

  ol, ul { list-style: none; }


  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  input:disabled,
  select:disabled {
    background-color: #B3B9BE !important;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none; /* 기본 드롭다운 아이콘 제거 */
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    box-shadow: none;
    -webkit-tap-highlight-color: transparent;
    border-radius: 5px;
  }

  .drag_btn_zone,
  .drag_btn_zone2 {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    touch-action: none; /* 드래그 반응 빠르게 */
  }

  .siju_con {
    /* 변경할 때 자연스럽게 투명도 전환 */
    transition: opacity 0.15s ease-in-out;
  }

  .hide-12 .ilwoon_10woonseong,
  .hide-12 .ilwoon_10sinsal,
  .hide-12 [id*="b12"],
  .hide-12 [id*="DwW"],
  .hide-12 [id*="Ds"],
  .hide-12 [id*="SwW"],
  .hide-12 [id*="Ss"],
  .hide-12 [id*="MwW"],
  .hide-12 [id*="Ms"] {
    display: none !important;
  }

  .mt0 {
    margin-top: 0;
  }

  .mb10 {
    margin-bottom: 10px;
  }

  .mt20 {
    margin-top: 20px;
  }

  .mt100 {
    margin-top: 40px;
  }

  .container {
    display: flex; 
    min-height: 100vh; 
    padding: 20px;
  }
  .info_wrapper {
    position: relative;
    max-width: 700px; 
    width: 100%; 
    margin: auto; 
    background-color: #011627; 
    padding: 16px; 
    border-radius: 20px;
  }

  .wongook_lucky, .wongook_myowoon {
    display: flex;
    gap: 10px;
  }

  .myowoon {
    width: 50%;
  }

  .woonkuk {
    width: 57%;
  }

  .no_wolwoon .woonkuk {
    width: 67%;
  }

  .woon_wrap {
    width: 50%;
  }

  .w100 .woonkuk {
    width: 100%;
  }

  .lucky_wrap {
    width: 43%;
  }

  .no_wolwoon .lucky_wrap {
    width: 33%;
  }

  .input_group {
    margin-bottom: 20px;
  }
  .input_group.group_ect {
    display: none;
  }
  .input_group .flex_input {
    display: flex;
    justify-content: space-between;
  }
  .input_group .flex_input input[type='tel'] {
    width: 60%;
  }
  
  .input_group .flex_input select {
    width: 38%;
  }

  .input_group .flex_input2 input[type='text'],
  .input_group .flex_input2 select {
    width: 80%;
  }

  .input_group .flex_input2 button {
    width: 19%;
    padding: 0;
    font-size: 20px;
  }
  .input_group:last-child {
    margin-bottom: 0;
  }
  .input_group > label {
    font-size: 20px; 
    display: block; 
    margin-bottom: 5px; 
    color: #fff;
  }
  .input_group>label span {
    font-size:14px; 
    color: #EED36C;
  }
  .input_group input[type='text'],
  .input_group input[type='tel'],
  .input_group input[type='time'],
  .input_group select,
  .input_group .map {
    display: block; 
    width: 100%; 
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    background-color: #fff; 
    border: none; 
    outline: none; 
    font-size: 20px;
    border-radius: 5px;
    color: #353535;
  }

  .input_group .map {
    text-align: left;
    cursor: pointer;
  }

  .input_group select {
	  line-height: normal !important;
  }

  .radio_box {
    display: flex; 
    gap: 10px;
  }
  .radio_box span { 
    flex: 1; 
  }
  .radio_box span input[type='radio'] + label {
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 100%; 
    padding: 10px; 
    background-color: #fff; 
    text-align: center; 
    font-size: 20px; 
    border-radius: 5px;
    color: #353535; 
    cursor: pointer;
  }
  .radio_box span input[type='radio']:checked + label {
    background-color: #EED36C; 
  }
  .radio_box input[type='radio'] {
    display: none;
  }

  .btn_box {
    display: flex; 
    justify-content: center; 
    gap: 10px;
  }

  .btn_box.mt100 button {
    padding:20px 100px; 
  }

  .btn_box button {
    position: relative;
    padding: 5px 60px; 
    background-color: #EED36C; 
    border: none; 
    outline: none; 
    font-size: 18px; 
    cursor: pointer;
	  color: #353535;
    z-index: 7;
  }

  .btn_box.flex_3 button {
    flex: 1;
    padding: 10px; 
  }

  .result_wrapper {
    display: none;
  }

  .info_box {
    color: #fff; 
    border-bottom: 1px solid #fff; 
    padding-bottom: 10px; 
  }

  .info_box .name_gender {
    font-size:20px;
    margin-bottom: 8px;
  }

  .info_box .birthday_info {
    font-size:18px;
  }

  .woon_container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  .grid_box {
    position: relative; 
    z-index: 10; 
    display: grid; 
    gap: 10px;
    grid-template-columns: repeat(4,1fr); 
    align-items: flex-start;
  }

  .grid_box.reverse {
	  direction: rtl;
  }

  .jijanggan.reverse,
  .reverse .jijanggan {
    direction: ltr;
  }

  .grid_box_2 {
    margin-top: 10px;
  }

  .grid_box_10 li,
  .grid_box_12 li {
    padding: 0 !important;
  }

  .grid_box-2 {
    grid-template-columns: repeat(2,1fr); 
  }

  .lucky_box {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    direction: rtl;
    align-items: flex-start;
  }

  .lucky_wrap .lucky_box {
    position: relative;
    gap: 10px;
    padding: 5px;
    z-index: 7;
  }

  .no_wolwoon .lucky_wrap .lucky_box .lucky.wolwoon {
    display: none;
  }

  .lucky_box .lucky .ganji {
    display: flex; 
    width: 100%;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
  }

  .lucky_box .lucky .ganji:last-child {
    margin-bottom: 0vw;
  }

  .grid_box > li {
    position: relative;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
  }

  .ganji {
    position: relative;
    z-index: 5;
  }


  .grid_box_1 > li,
  .lucky_box .lucky .ganji {
    padding: 0 !important;
  }

  .grid_box_1 li .hanja_con,
  .ganji .hanja_con {
    position: relative;
    width: 100%;
    background-color: #fff;
    text-align: center;
    font-size: 52px; 
    border-radius: 4px;
  }

  .grid_box_1 li:nth-of-type(5) .hanja_con,
  .grid_box_1 li:nth-of-type(6) .hanja_con,
  .grid_box_1 li:nth-of-type(7) .hanja_con,
  .grid_box_1 li:nth-of-type(8) .hanja_con {
    margin-bottom: 10px;
  }

  .ganji .hanja_con {
    margin-bottom: 10px;
  }

  .grid_box_1 li .hanja_con {
    width: 84px;
    /*height: 90px;*/
  }

  .no_wolwoon .grid_box_1 li .hanja_con {
    width: 100px;
  }

  .w100 .grid_box_1 li .hanja_con {
    width: 156px;
  }

  .w50 .grid_box_1 li .hanja_con {
    width: 76px;
  }

  .couple_mode_wrap .w50 .grid_box_1 li .hanja_con {
    width: 84px;
  }

  .grid_box_8 li .hanja_con {
    width: 84px;
  }

  .ganji .hanja_con {
    width: 88px;
    /*height: 90px;*/
  }

  .no_wolwoon .ganji .hanja_con {
    width: 100px;
  }

  .grid_box_1 li .hanja_con b,
  .ganji .hanja_con b {
    display: block;
	  line-height: 120%; 
  }

  .w50 .grid_box_1 li .hanja_con,
  .w50 .ganji .hanja_con  {
    font-size: 44px;
  }

  .hanja_con {
    display: flex;
    flex-direction: column;
  }

  .grid_box_1 li p,
  .ganji p {
    width: 100%;
    background-color: #fff;
    padding: 5px 10px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
  }

  .w50 .grid_box_1 li p,
  .w50 .ganji p {
    font-size: 16px;
  }

  .grid_box_1 li p.eum_yang,
  .ganji p.eum_yang {
    position: absolute;
    top: 0;
    left: 0;
  	display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
	  margin: auto;
    padding: 0;
    font-size: 12px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 10;
    color: #353535;
    transform: translate(-30%, -30%);
  }

  .grid_box_1 li .ten_sin,
  .ganji .ten_sin,
  .grid_box_1 li .woon_seong,
  .ganji .woon_seong,
  .grid_box_1 li .sin_sal,
  .ganji .sin_sal {
    font-size: 16px;
    color: #fff;
  }

  .grid_box_1 li .sin_sal,
  .ganji .sin_sal {
    margin-bottom: 0;
  }

  .grid_box_1 li p.hanguel,
  .ganji p.hanguel {
    background-color: transparent;
    color: #fff;
    padding: 0;
    margin-bottom:5px;
  }

  .grid_box_1 li p.label,
  .ganji p.label {
    background-color: transparent;
    color: #EED36C;
    padding: 0;
  }

  .jijanggan {
    /* display: flex; 
    flex-direction: column;
    justify-content: center; 
	  align-items: center; 
    gap: 5px; */
    margin: 0 0 5px;
    padding: 8px;
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
  }

  .jijanggan li {
    font-size: 14px;
    margin-bottom: 5px;
    text-align: center;
  }

  .jijanggan li.jeonggi {
    background-color: #d5d5d5;
    border-radius: 2.4px;
    font-weight: bold;
  }

  .jijanggan li:last-child {
    margin-bottom: 0;
  }

  .grid_box_2 > li {
    background-color: #fff;
    padding: 10px;
  }

  .buga_title {
    position: relative; 
    margin: 8px 0 5px; 
    text-align: center; 
    font-size: 20px; 
    font-weight: 700; 
    color: #fff;
  }
  .buga_title::before {
    content: ''; 
    position: absolute; 
    left: 0; 
    top: 50%; 
    width: 100%; 
    height: 1px; 
    background: #fff;
  }
  .buga_title span {
    position: relative; 
    z-index: 5; 
    background: #011627; 
    padding: 4px 10px;
    line-height: 90%;
  }

  .scroll_x {
    overflow: auto;
  }

  .grid_box_10,
  .grid_box_12 {
    display: grid;
  }

  .grid_box_10 {
    grid-template-columns: repeat(10, 1fr);
    gap: 5px; 
  }
  
  .grid_box_12 {
    grid-template-columns: repeat(12, 1fr); 
    gap: 5px;
  }


  .ganji_w {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 25px;
    line-height: 90%;
  }

  .grid_box_12 .ganji_w {
    width: 100%;
    text-align: center;
    font-size: 20px;
  }

  .fortune_section .w {
    width: 100%;
    /* background-color: #fff;
    margin-bottom: 5px; */
    color: #fff;
    text-align: center;
    font-size: 14px;
    border-radius: 2px;
  }

  .grid_box_1 li .ten_sin,
  .ganji .ten_sin,
  .fortune_section .w[class*="dt10sin"],
  .fortune_section .w[class*="st10sin"],
  .fortune_section .w[class*="0sin"] {
    margin-bottom: 4px;
  }

  .fortune_section.grid_box_12 .w {
    font-size: 12px;
  }

  .fortune_section li {
    border: 2px solid transparent;
  }

  .fortune_section li.active {
    border: 2px solid #EED36C;
  }

  .fortune_section .w.dyear,
  .fortune_section .w.dmonth,
  .fortune_section .dage {
    background-color: transparent;
    color: #EED36C;
  }

  .container {
    padding: 70px 0;
  }

  .container .header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    position:fixed;
    top: 0;
    left: 0;
    padding: 0 10px;
    border-bottom: 1px solid #a5a5a5;
    background-color: #011627;
    color: #EED36C;
    z-index: 98;
  }

  .header .flex_btn_2 {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .header .flex_btn_2 button  {
    padding: 5px 20px;
    color: #353535;
  }

  .btn_box.flex_3 button.active {
    background-color: #353535;
    color: #e5e5e5;
  }

  .aside {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 99;
    background-color: #011627;
    color: #fff;
  }

  .aside .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 20px;
    border-bottom: 1px solid #EED36C;
  }

  .aside .close_btn,
  .delete_btn {
    width: 40px;
    height: 40px;
    padding: 0 !important;
    font-size: 40px;
    line-height: 100%;
  }

  .aside .close_btn span,
  .delete_btn span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    vertical-align: top;
    margin-top: -8px;
  }

  .aside .top_search_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
  }

  .aside .top_search_list > select {
    background-color: #fff;
    width: 15%;
    max-width: 100px;
    height: 46px;
    text-align: center;
  }

  .aside .search_form {
    display: flex;
    gap: 10px;
    width: calc(85% - 10px);
  }

  .aside .search_form select {
    background-color: #fff;
    width: 100px;
    text-align: center;
    padding: 0;
  }

  .aside .search_form input {
    width: 250px;
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 0 10px;
  }

  .aside .list_ul_wrap {
    height: calc(100vh - 136px);
    padding-bottom: 10px;
    overflow: auto;
  }

  .aside .list_ul {
    padding: 20px;
    padding-top: 0;
  }

  .aside .list_ul > li {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 15px 0;
    border-bottom: 1px solid #EED36C;
  }

  .type_sv_wrap {
    position: absolute;
    display: flex;
    right: 0;
    gap: 10px;
  }

  .type_sv_wrap.info_type {
    right: 20px;
  }

  .type_sv {
    display: inline-block;
    padding: 2.4px 8px;
    background-color: #EED36C;
    color: #011627;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .aside .list_ul > li .info_btn_zone {
    display: flex;
    align-items: center;
  }

  .aside .list_ul > li .info_btn_zone .drag_btn_zone,
  .drag_btn_zone2 {
    height: 20px;
    margin-right: 10px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .drag_btn_zone2 {
    padding: 0 !important;
  }

  .aside .list_ul > li .info_btn_zone .drag_btn_zone .line,
  .drag_btn_zone2 .line {
    width: 24px;
    height: 4px;
    background-color: #EED36C;
    margin-bottom: 4px;
  }

  .aside .list_ul > li .info_btn_zone .drag_btn_zone .line:last-child,
  .drag_btn_zone2 .line:last-child {
    margin-bottom: 0;
  }

  .aside .list_ul > li .btn_zone {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 0 0 auto;
    margin-left: 10px;
  }

  .pharases {
    padding: 0px 20px;
    font-size: 14px;
    color: #E6BF28;
    margin-bottom: 5px;
  }

  .pharases_dl {
    padding: 20px;
    text-align: center;
  }

  .info_wrapper .pharases {
    padding: 10px 0 0;
  }

  .hour_list_wrap .pharases {
    padding-top: 0;
    margin-bottom: 10px;
  }

  .ilju_calender {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
  }

  .ilju_calender .calender_title {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
  }
  
  .ilju_calender .cal_btn {
    padding: 5px 10px;
    background-color: #EED36C;
    border: none;
    cursor: pointer;
	color: #353535;
  }

  .calander_table {
    width: 100%;
  }

  .calander_table th{
    padding: 10px;
  }

  .calander_table td {
    padding: 5px;
    border: 1px solid #353525;
    font-size: 12px;
  }

  .calander_table td.active {
    border-width: 2px;
    border-color: #E40101;
  }

  .calander_table .ilwoon {
    position: relative;
  }

  .calander_table .ilwoon li {
    margin-bottom: 2px;
  }

  .calander_table .ilwoon li.ilwoonday {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14px;
    font-weight: bold;
    color: #353525;
  }

  .calander_table .ilwoon li span {
    display: inline-block;
    width: 35px;
    text-align: center;
  }

  .calander_table .ilwoon li.ilwoon_ganji_cheongan span,
  .calander_table .ilwoon li.ilwoon_ganji_jiji span {
    display: inline-block;
    width: 35px;
    padding: 2px 0;
    text-align: center;
    background-color: #e5e5e5;
    border-radius: 10px;
    font-size: 20px;
  }

  .calander_table .ilwoon li:last-child {
    margin-bottom: 0;
  }

  .black_btn {
    padding: 10px 50px;
    background-color: #EED36C;
    border: none;
    outline: none;
    cursor: pointer;
    color: #353535;
    border-radius: 4px;
  }

  .cal_area {
    margin-top: 20px;
    text-align: center;
  }

  .cal_area#calArea2 {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }

  .current_ganzhi {
    color: #fff;
  }

  .current_ganzhi b {
    color: #EED36C;
  }

  .cal_area input {
  	display: inline-block;
    width: 100%;
    height: 50px;
    padding: 0 10px;
  }


  .radio_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .check_option,
  .s12_ctrl_zone {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .s12_ctrl_box {
    padding: 15px 0 8px;
  }

  .s12_ctrl_box .black_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    height: 50px;
    font-size: 18px;
  }

  .s12_ctrl_box .black_btn.active .arrow {
    transform: rotate(180deg);
  }

  .s12_ctrl_zone {
    width: 100%;
    flex-direction: column;
    height: auto;
    text-align: center;
    background-color: transparent;
  }

  /* .s12_ctrl_con {
    display: none;
  } */

  .s12_ctrl_zone_type {
    padding: 8px;
    flex-direction: row;
  }

  .s12_ctrl_zone_type.side {
    gap: 20px;
  }

  .s12_ctrl_zone_type.side .flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .s12_ctrl_zone a {
    color: #fff;
  }

  .check_option {
    flex: 0 0 auto;
  }

  .check_option.fixed {
    position: fixed;
    width: 100%;
    top: 90px;
    left: 0; 
    z-index: 98;
  }

  .check_option li {
    display: flex;
    align-items: center;
  }

  .radio_wrap.center {
    text-align: center;
  }

  .radio_wrap.center span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 5px;
  }
  
  .radio_wrap span{
    display: flex;
    align-items: center;
    margin: 0 10px;
  }

  .radio_wrap input[type='radio'],
  .radio_wrap input[type='checkbox'] {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    
  }

  .radio_wrap input[type='radio']::before,
  .radio_wrap input[type='checkbox']::before {
    display: none;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14px;
    height: 14px;
    background-color: #EED36C;
    border-radius: 50%;
  }

  .radio_wrap input[type='radio']:checked::before,
  .radio_wrap input[type='checkbox']:checked::before {
    display: block;
  }

  .radio_wrap label {
    cursor: pointer;
  }

  .label_line {
    display: flex;
    align-items: center;
    margin-top: 5px;
    color: #EED36C;
    font-size: 14px;
  }

  .label_line input[type='checkbox'] {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    
  }

  .label_line input[type='checkbox']::before {
    display: none;
    content: '✔';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: #011627;
  }

  .label_line input[type='checkbox']:checked::before {
    display: block;
  }

  .label_line label {
    color: #fff;
    cursor: pointer;
  }
  
  .footer {
    max-width: 700px; 
    width: 100%; 
    margin: auto;
    padding: 40px 10px;
    background-color: #011627; 
    text-align: center;
    color: #EED36C;
    font-size: 12px;
  }

  .explan {
    background-color: #fff;
    padding: 20px;
    margin-top: 40px;
    color: #353535;
    text-align: left;
    
  }

  .explan .pharases {
    font-weight: bold;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 20px;
  }

  .explan li {
    margin-bottom: 20px;
  }

  .explan li strong {
    display: block;
  }

  .explan li:last-child {
    margin-bottom: 0;
  }

  .explan .pillar_title {
    font-size: 20px;
  }

  .hour_list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px;
    z-index: 10;
  }

  .hour_list button.black_btn {
    width: 100%;
    padding: 0;
    height: 35px;
  }

  .couple_mode_wrap {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #011627;
    z-index: 99;
  } 

  .couple_mode_wrap .btn_box {
    padding: 20px;
  }

  .couple_mode_wrap .btn_box.flex_3 {
    padding: 10px 0;
  }

  .couple_mode_wrap .scroll_y {
    width: 100%;
    height: calc(100vh - 80px);
    overflow-y: auto;
  }

  .couple_mode_wrap .inner {
    display: flex;
    align-items: center;
    max-width: 800px;
    width: 100%;
    margin: auto;
    padding: 20px;
    gap: 10px;
  }

  .couple_mode_wrap .people {
    width: 50%;
  }

  .couple_mode_wrap .wongook_lucky {
    flex-direction: column;
  }

  .couple_mode_wrap .woonkuk,
  .couple_mode_wrap .myowoon {
    width: 100%;
  }

  .grid_box.grid_box_8 {
    padding: 5px;
  }

  li > div.last-visible {
    margin-bottom: 0 !important;
  }

  .red { color: #E40101 !important; }
  .green { color: #008E00 !important; }
  .yellow { color: #E6BF28 !important; }
  .white { color: #a5a5a5 !important; }
  .black { color: #252525 !important; }

  .b_red { background-color: #E40101 !important; color: #fff; }
  .b_green { background-color: #008E00 !important; color: #fff;}
  .b_yellow { background-color: #E6BF28 !important; color: #fff;}
  .b_white { background-color: #a5a5a5 !important; color: #fff;}
  .b_black { background-color: #252525 !important; color: #fff;}

  /* 모바일 대응 */
  @media screen and (max-width:991px){

    .wongook_lucky {
      gap: 4vw;
    }

    .mb10 {
      margin-bottom: 2vw;
    }
  
    .mt20 {
      margin-top: 4vw;
    }

    .mt100 {
      margin-top: 4vw;
    }

    .info_wrapper {
      max-width: 100%; 
      padding:2.624vw; 
      border-radius: 0;
    }
    .input_group {
      margin-bottom:2.4vw;
    }
    .input_group>label {
      font-size:3.244vw; 
      margin-bottom:1.2vw;
    }
    .input_group>label span {
      font-size:2.844vw; 
    }
    .input_group input[type='text'],
    .input_group input[type='tel'],
    .input_group input[type='time'],
    .input_group select,
    .input_group .map {
      height: 8.4vw;
      line-height: 8.4vw;
      font-size:3.244vw; 
      padding:0 3.242vw;
    }
    .radio_box span input[type='radio']+label {
      padding:2.44vw; 
      font-size:3.244vw;
    }

    .input_group .flex_input2 button {
      width: 17%;
      padding: 0 2.44vw;
      font-size: 3.244vw;
      height: 8.4vw;
    }

    .label_line input[type='checkbox'] {
      width: 3.2vw;
      height: 3.2vw;
      margin-right: 1.2vw;
    }
  
    .label_line input[type='checkbox']::before {
      font-size: 2.4vw;
    }

    .label_line label {
      font-size: 3.2vw;
    }

    .btn_box.mt20 {
      margin-top: 2vw;
    }

    .btn_box.mt {
      margin-top:5.224vw;
    }
    .btn_box button {
      padding:0vw 8.448vw; 
      font-size:3.228vw;
      gap: 2vw;
    }

    .btn_box.mt100 button {
      padding:0vw 16.448vw; 
      font-size: 3.2vw;
    }

    .btn_box.flex_3 button {
      padding:0vw 4.048vw; 
    }

    .btn_box button#calcBtn,
    .btn_box button#ModifyBtn  {
      height: 10vw;
    }

    .btn_box.mb40 {
      margin-bottom: 4vw;
    }
    
    .black_btn {
      padding: 0 10vw;
      height: 6.2vw;
      font-size: 3.228vw;
    }

    .hour_list button.black_btn {
      height: 8vw;  
    }
    
    .detailViewBtn,
    .modify_btn,
    .back_btn,
    .search_btn {
      padding: 0 2vw;
    }

    .info_box {
      padding-bottom:2vw;
    }

    .info_box .name_gender {
      font-size:3.244vw;
      margin-bottom: 1.2vw;
    }

    .info_box .birthday_info {
      font-size:2.844vw;
    }

    .s12_ctrl_box .black_btn {
      font-size: 3.2vw;
      height: 8vw;
    }

    .s12_ctrl_box {
      padding: 3.2vw 0 0.8vw;
    }

    .s12_ctrl_zone_type {
      padding: 1.2vw;
    }
    
    .woonkuk {
      width: 58%;
    }

    .lucky_wrap {
      width: 42%;
    }
    
    .lucky_wrap .lucky_box {
      gap: 0.8vw;
      padding: 0;
    }

    .lucky_box .lucky .ganji,
    .grid_box_1 li .hanja_con, .ganji .hanja_con {
      margin-bottom: 0;
    }


    .grid_box_1 li:nth-of-type(5) .hanja_con,
    .grid_box_1 li:nth-of-type(6) .hanja_con,
    .grid_box_1 li:nth-of-type(7) .hanja_con,
    .grid_box_1 li:nth-of-type(8) .hanja_con {
      margin-bottom: 1.2vw;
    }

    .ganji .hanja_con {
      margin-bottom: 1vw;
    }

    .woon_container {
      gap: 2vw;
    }

    .grid_box {
      gap: 0.8vw;
    }

    .w100 .grid_box {
      gap: 1.2vw;
    }

    .grid_box_10 {
      gap: 0.3vw;
    }

    .grid_box > li {
      font-size: 2.824vw;
    }

    .grid_box.grid_box_8 {
      padding: 0;
    }

    .grid_box.grid_box_8 > li {
      font-size: 2.024vw;
    }

    .grid_box > li,
    .lucky_box .lucky .ganji {
      padding: 1.24vw;
    }

    .grid_box_1 li .hanja_con,
	  .ganji .hanja_con {
      display: flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
      font-size: 10vw;
      padding: 1.6vw;
    }

    .grid_box_1 li .hanja_con {
      width: 12vw;
      /*height: 10.8vw;*/
    }

    .no_wolwoon .grid_box_1 li .hanja_con {
      width: 14.2vw;
    }
  
    .ganji .hanja_con {
      width: 12vw;
      /*height: 10.8vw;*/
    }

    .no_wolwoon .ganji .hanja_con {
      width: 14.2vw;
    }

    .w100 .grid_box_1 li .hanja_con {
      width: 22vw;
    }

    .w50 .grid_box_1 li .hanja_con {
      width: 10.4vw;
      /*height: 9.6vw;*/
    }

    .grid_box_1.grid_box_8 li .hanja_con {
      width: 10.8vw;
      font-size:5.848vw;
    }

    .grid_box_1 li p, 
    .ganji p,
    .grid_box_1 li p.ten_sin, 
    .ganji p.ten_sin,
    .fortune_section .w {
      font-size: 3.2vw;
    }

    .grid_box_1 li p.hanguel,
    .ganji p.hanguel  {
      font-size: 3vw;
      margin-bottom: 0.8vw;
      line-height: 100%;
    }

    .grid_box_1 li p,
    .ganji p {
      padding: 1vw 0.8vw;
      margin-bottom: 1.2vw;
    }

    .grid_box_1 li p.eum_yang, 
    .ganji p.eum_yang,
    .wongook_lucky .grid_box_1 li p.eum_yang {
      padding: 0;
      margin-bottom: 0;
      font-size: 2.4vw;
    }

    .grid_box_1 li p.eum_yang, 
    .ganji p.eum_yang {
      width: 4vw;
      height: 4vw;
    }

    .grid_box_1 li .hanja_con b,
    .ganji .hanja_con b {
      line-height: 90%;
    }

    .no_hanguel .grid_box_1 li .hanja_con b,
    .no_hanguel .ganji .hanja_con b {
      margin: 0.8vw 0;
    }

    .w50 .grid_box_1 li .hanja_con,
    .w50 .ganji .hanja_con {
      font-size:4.4vw;
	    padding: 0;
    }

    .grid_box_1 li .ten_sin,
    .ganji .ten_sin,
    .grid_box_1 li .woon_seong,
    .ganji .woon_seong,
    .grid_box_1 li .sin_sal,
    .ganji .sin_sal {
        font-size: 3.2vw;
    }


    .w50 .grid_box_1 {
      gap: 1vw;
    }

    .w50 .grid_box_1 li p, .w50 .ganji p {
      font-size: 2.2vw;
      margin-bottom: 0.4vw;
    }

    .w50 .grid_box_8 li p {
      font-size: 2.4vw;
    }

    .w50 .grid_box_8 li p.label {
      font-size: 3.2vw;
    }

    .jijanggan {
      gap: .8vw;
      padding: 1vw;
      margin: 0 0 1vw;
    }

    .jijanggan li {
      margin-bottom: 0.4vw;
    }

    .jijanggan li,
    .w50 .jijanggan li {
      font-size: 2.4vw;
    }

    .w50 .jijanggan li {
      font-size: 2vw;
    }
    
    .buga_title {
      margin: 0;
    }

    .buga_title span {
      font-size: 3.2vw;
      padding: 1vw 2vw;
    }

    .ganji_w {
      width: 100%;
      padding: 1.52vw 0;
      text-align: center;
      font-size: 4vw;
      font-weight: 700;
      background-color: #fff;
      border-radius: 2px;
      margin-bottom: 0.4vw;
    }

    .grid_box_1 li .ten_sin,
    .ganji .ten_sin,
    .fortune_section .w[class*="dt10sin"],
    .fortune_section .w[class*="st10sin"],
    .fortune_section .w[class*="0sin"] {
      margin-bottom: 0.4vw;
    }
    
    .fortune_section .w.dage {
      font-size: 3.2vw;
    }

    .container {
      padding: 12vw 0;
    }

    .container .header {
      height: 12vw;
    }

    .header .flex_btn_2 button {
      padding: 0 2vw;
    }

    .aside .head {
      height: 12vw;
      padding: 4vw;
    }
  
    .aside .close_btn,
    .delete_btn {
      top: 4vw;
      right: 4vw;
      width: 8vw;
      height: 8vw;
      font-size: 8vw;
      padding: 0px;
    }
  
    .aside .close_btn span,
    .delete_btn span {
      height: 8vw;
      vertical-align: top;
      margin-top: 0;
    }

    .aside .top_search_list {
      gap: 2vw;
    }

    .aside .top_search_list > select {
      height: 6.2vw;
      font-size: 3.2vw;
    }

    .aside .search_form {
      gap: 2vw;
      width: calc(85% - 4vw);
    }
  
    .aside .search_form select {
      width: calc(20% - 2vw);
      height: 6.2vw;
      padding: 0 2vw;
      font-size: 3.2vw;
    }
  
    .aside .search_form input {
      width: calc(60% - 2vw);
      height: 6.2vw;
      font-size: 3.2vw;
      padding: 0 2.4vw;
    }

    .aside .search_form button {
      width: calc(20% - 2vw);
    }

    .type_sv {
      font-size: 3.2vw;
    }

    .type_sv_wrap.info_type {
      right: 2vw;
      gap: 2vw;
    }

    .aside .list_ul_wrap {
      height: calc(100vh - 29.2vw);
      padding-bottom: 4vw;
    }
  
    .aside .list_ul {
      padding: 4vw;
      padding-top: 0;
    }
  
    .aside .list_ul > li {
      padding: 3.6vw 0;
      font-size: 3.2vw;
    }

    .aside .list_ul > li .btn_zone {
      gap: 2vw;
      margin-left: 2vw;
    }

    .aside .list_ul > li .info_btn_zone .drag_btn_zone,
    .drag_btn_zone2 {
      height: 6.4vw;
      margin-right: 2.8vw;
    }
  
    .aside .list_ul > li .info_btn_zone .drag_btn_zone .line,
    .drag_btn_zone2 .line {
      width: 6.4vw;
      height: 1.2vw;
      background-color: #EED36C;
      margin-bottom: 1.2vw;
    }

    .pharases {
      padding: 0 4vw;
      font-size: 3.2vw;
      margin-bottom: 1.2vw;
    }

    .pharases_dl {
      padding: 4vw;
    }

    .info_wrapper .pharases {
      padding: 2vw 0 0;
    }

    .hour_list_wrap .pharases {
      padding: 0;
      margin-bottom: 1.2vw;
    }

    .grid_box_12 {
      gap: .2vw;
    }

    .grid_box_12.fortune_section .w {
      font-size: 2.62vw;
    }

    .grid_box_12 .ganji_w {
      font-size: 3.2vw;
      padding: 1.52vw 0vw;
    }

    .ilju_calender {
      margin-top: 4vw;
      padding: 2.2vw;
    }
  
    .ilju_calender .calender_title {
      padding-bottom: 2.4vw;
      margin-bottom: 2.4vw;
      font-size: 2.4vw;
    }
    
    .ilju_calender .cal_btn {
      padding: 1.2vw 2.4vw;
      font-size: 2.4vw;
    }

    .ilju_calender .calender_title .curr_title {
      padding-top: 1.2vw;
    }

    .calander_table th{
      padding: 1.2vw;
      font-size: 2.4vw;
    }
  
    .calander_table td {
      padding: 0.8vw;
      font-size: 2vw;
    }
  
  
    .calander_table .ilwoon li {
      margin-bottom: 0.4vw;
    }
  
    .calander_table .ilwoon li.ilwoonday {
      font-size: 2vw;
    }
  
    .calander_table .ilwoon li span {
      width: 5.2vw;
    }
  
    .calander_table .ilwoon li.ilwoon_ganji_cheongan span,
    .calander_table .ilwoon li.ilwoon_ganji_jiji span {
      width: 5.2vw;
      border-radius: 1.2vw;
      font-size: 2.8vw;
    }

    .cal_area {
      margin-top: 8vw;
      text-align: center;
      }

    .cal_area input {
      width: 100%;
      height: 10.8vw;
      line-height: 10.8vw;
      color: #353535;
      background-color: #fff;
      padding: 0 2.4vw;
      font-size: 3.6vw;
    }

    .check_option.fixed {
      top: 16vw;
    }

    .radio_wrap span{
      margin: 0 0.8vw;
    }
  
    .radio_wrap input[type='radio'],
    .radio_wrap input[type='checkbox'] {
      width: 2.4vw;
      height: 2.4vw;
      margin-right: 1.2vw;
    }
  
    .radio_wrap input[type='radio']::before,
    .radio_wrap input[type='checkbox']::before {
      width: 1.6vw;
      height: 1.6vw;
    }

    .radio_wrap label {
      font-size: 2.8vw;
    }

    .footer {
      padding: 6.2vw 1.2vw;
      font-size: 2.4vw;
    }

    .explan {
      padding: 4vw;
      margin-top: 8vw;
      font-size: 3.2vw;
    }
  
    .explan .pharases {
      margin-bottom: 4vw;
      font-size: 4vw;
    }
  
    .explan li {
      margin-bottom: 4vw;
    }

    .explan .pillar_title {
      font-size: 4.4vw;
    }
  
    .hour_list {
      gap: 2vw;
    }

    .couple_mode_wrap .btn_box {
      padding: 4vw;
    }

    .cal_area#calArea2 {
      padding: 4vw;
    }

    .current_ganzhi {
      font-size: 3.2vw;
    }

    .couple_mode_wrap .scroll_y {
      height: calc(100vh - 16vw);
    }

    .couple_mode_wrap .inner {
      padding: 2vw;
    }

    .couple_mode_wrap .inner,
    .couple_mode_wrap .grid_box {
      gap: 0.8vw;
    }

    .couple_mode_wrap .w50 .grid_box_1 li .hanja_con {
      width: 11vw;
    }
  }